.myreads-home {
	display: flex;
	flex-direction: column;
	padding-bottom: 6rem;

	header {
		padding: var(--spacing);
		color: var(--header-color);
		background-color: var(--header-bg);
		text-align: center;
		font-size: var(--font-headline);
	}

	section.page-content {
		display: flex;
		flex-direction: column;
		padding: calc(var(--spacing-xxl) * 2) var(--spacing-xxl);
		gap: 2rem;
	}
}
